h1{    color:white;
    font-size: 4.2rem;
}
h2{
    color:white;
    font-size: 2rem;
}
p{
    color:white
}
body{
    background-color: #404040;
    color: red;

}
.nav{
    width: 5000px;
}
.intro{
    padding:80px;
    height: 500px;
    position: relative;
    background-color: #404040;



}

#experience{
    background-color: white;
    height: 500px;
    position: relative;
}

.body{
    background-color: #404040;
    color: red;
    height: 100%;
    position: absolute;
    left: 100px;
    width: 90%;
}