.intro h1{    color:white;
    font-size: 13.2rem;
    margin-left: 16%;
}

.intro h2{
    color:#ffffff;
    font-size: 3rem;
    margin-left: 1%;
}
.intro p{
    color:white;
    margin-left: 30%;
    line-height: 200%;
    font-size: 1.4rem;
}
.linkText {
    color: white !important;
    }
body{
    background-color: #404040;
    color: white;


}



.intro{
    width: 100%;
    padding: 50px;
    height: 125%;
    position: relative;
    background-color: #404040;



}

#skill{
    padding: 5px;

    background-color:#404040;
    height: 90%;
    top: 30%;
    position: relative;
    align-content: center;
    

    word-spacing: 10px;
}

.body{
    padding:80px;

    background-color: #404040;
    color: white;
    height: 100%;
    position: absolute;
    font-family: 'Playfair Display', serif;
    height: 100%;
}
.icon{
    margin-left: 20px;

}
.skill-wrapper{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    height: 100%;
    gap: 20%;
}
.skill-box{
    line-height: 30px;
    margin: 1%;
    width: 15%;
}
.skill-box p{

    text-align: center;
    
}
.skills{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    gap: 2px;
    width: 40%;
  

    
}
#project{
    padding-top: 2px;
    background-color: #404040;
    height: 205%;
top:200px;
    position: relative;
    margin: 0;


}
.project1{
    padding-top: 2px;
    height: 2000px;
top:200px;
    position: relative;
    margin: 0;


    
}
.projBody{
    font-size: 20px;
    line-height: 50px;
}
#project h1{

    font-size: 40px;
    padding: 0;
    left: 0;
    margin-left: 5%;

}
.project-container{
    padding: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content:center;
    gap:800px;
    
}



h4 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid white; 
    line-height: 0rem;
    margin: .8% 0 10%; 
 } 
 h4 span { 
     font-size: 15px;
     color: white;
    background:#404040; 
    padding:.8% .3%; 
}
.project{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align:center;
    margin-bottom: 10%;

}

.info{
    
background-color: #404040;
}
.info h1{
    text-align: center;
}

.card{
    height:13rem;  
    width: 50%;
    margin-left: 10%;

      
}
.card img{
    min-height: 100%;
    width: 100%;
    
    
}
#footer{
    background-color:#404040;
    top:180%;
    height: 80%;

    position: relative;
    text-align: center;
    

}
.form{
    width: 50%;
}

h5{
    font-size:20px;
    color: white;
}
.contact{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;


    
}
#project h2{
    text-align: center;
}
.contactForm{
    width: 150%;
    display: flex;
    
    
}
.row{
    text-align: center;
}
.contactInfo{
    margin-top: 5%;
    width: 40%;
    text-align: center;


}.projectImg{
    height: 100%;
    margin-left:50px;
}
.contactInfo h3{
    font-size: 15px;
}
.form{
    width: 100%;
    margin-left: 3px;

}
.foot{
    display: flex;
    justify-content: center;
    margin-left: 23%;

    
}

.sendForm input{
    background-color: lightgray;
}
.dog{
    background-color: #404040;
    text-align: center;

    
}
.dog p{
    color: white;
}
.dog h1{
    text-align: center;
    margin-left: 25%
}
.buttons{
    margin-left: 5%;
}


.sidebar{
    padding:10px;
color: blue;
margin-top: 5%;
    height: 100%;
    width: 5%;
    position: fixed;
    z-index: 1;
    float: left;
    left: 0;
    top:0;
    display: flex;
    
}


.buttons{
    display: flex;
    justify-content: center;
    text-align: center;
    gap:20px
}
.icon{
    margin-left: 3px;
}


a{
    color: purple;
    
}
.socials{
    align-items: center;
    text-align: center;
    right:1px;
    margin-right:1px ;
    flex-direction: column;

    margin-top:700%;
    line-height: 600%;
}

.form{
    width:26%;
    margin-left: 3px;

}
@media screen and (max-width: 375) {
    body{
        width: 100%;
    }
}

@media screen and (max-width: 962px) {
    .form{
        width: 400px;
        margin-left: 100px;
        margin-top: 40px;
    

    }
  }
@media screen and (max-width: 768px) {
    body,html{
        height: auto;
        padding-right: -300px;
    }

    #footer{
        background-color:#404040;

        
        top:1500px;
        height: 400px;
        position: relative;
        margin: 0;
        text-align: center;
        
    
    }
    
    .form{
        width: 400px;
        margin-left: 3px;
        margin-top: 40px;
    

    }
    
    #skill{
        top: 100px;
    }
    #project{
        top:450px;
        
    }
    .intro h1{    color:white;
        font-size: 8.2rem;
        margin-left: 80px;
    }
    
    .intro h2{
        color:#ffffff;
        font-size: 1.3rem;
        margin-left: 40px;
    }
    .intro p{
        color:white;
        margin-left: 200px;
        line-height: 50px;
        font-size: .8rem;
    }
   .intro{
       height: 600px;
   }
   .card{
    height:13rem;  
    width: 300px;
    margin-left: 25%;

      
}

    }
    
    @media screen and (max-width: 850px) {
        
        .projectImg{
            margin-left: 90px;
        }
        
        
      }


      
      @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
.body{
    padding: 0%;
    width:100%
    
}
.intro{
    width: 100%;
    padding: 15%;
    height: 90%;
}
.intro h2{
    margin-left: 0%;

}
.intro h1{
    font-size: 500%;
    margin-left: 0%;
    margin:30px auto

}
.intro p{
    margin-left: 0;
    font-size: 120%;
    line-height: 200%;
}
.card{
    height:13rem;  
    width: 100%;
    margin-left: 4%;

      
}.sidebar{
    

    top:4600px;
    height: 100px;
    width: 100%;
    background-color: black;
    position: relative;
    margin: 0;
    text-align: center;
    

}
.sidebar img{
    width: 10%;
    height: 40%;
}
.socials{
    align-items: center;
    text-align: center;
    right:1px;
    margin-right:1px ;
    flex-direction: column;

    margin-top:0%;
    line-height: 20%;
}

#footer{

    
    top:1800px;
    height: 400px;
    position: relative;
    margin: 0;
    text-align: center;
    

}
.form{
    width: 50%;
    margin-left: 5%;
}
.contact{
    flex-direction: column;
    display: flex;

    justify-content: center;


}
.contactInfo{
    margin-left: 30%;

}

#skill{
    height: 500px;
    
}
.skills{
    gap:20%;
    margin-left: 0px;
    margin-right: 12%;
    justify-content: center;

    width:80%;
    
}
.skill-wrapper{
    padding: 10%;
    width: 100%;

}
.buttons{
    margin-left: 8%;
}


.cardTitle{
    background-color: red;
    margin-left: 20px;
}
.contactInfo{
    margin-top: 5%;
    width: 40%;
    margin-left: 15%;
    text-align: center;


}
.cardTitle{
    background-color: red;
}
#project{
    padding-top: 2px;
    background-color: #404040;
    height: 140%;
top:200px;
    position: relative;
    margin: 0;


}
.project{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align:center;
    margin-bottom: 15%;

}

}

      