h1{    color:white;
    font-size: 8.2rem;
    margin-left: 50px;
}
h2{
    color:#ffffff;
    font-size: 2rem;
}
p{
    color:white;
    margin-left: 100px;
}
body{
    background-color: #404040;
    color: red;

}
.nav{
    width: 5000px;
}
.intro{
    height: 500px;
    position: relative;
    background-color: #404040;



}

#skill{
    background-color:#404040;
    height: 200px;
    position: relative;
    align-content: center;

    word-spacing: 10px;
}

.body{
    padding:80px;

    background-color: #404040;
    color: red;
    height: 100%;
    position: absolute;
    left: 100px;
    width: 90%;
    font-family: 'Playfair Display', serif;
    height: 100%;
}
.skillIcon{
    margin-right: 30px;

}
.skills{
    text-align: center;
}
#project{
    background-color: #404040;
    height: 1500px;

    position: relative;
    margin: 0;
    

}
#project h1{

    font-size: 40px;
    padding: 0;
    left: 0;
    width: 90%;
    margin-left: 0;

}
.project-container{
    padding: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content:center;
    gap:80px;
    
}



h4 {
    width: 15%; 
    text-align: center; 
    border-bottom: 1px solid white; 
    line-height: 0rem;
    margin: 20px 0 40px; 
 } 
 h4 span { 
     font-size: 15px;
     color: white;
    background:#404040; 
    padding:10px 5px; 
}
.project{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;

}
.info{
    width: 150px;
    width: 100%;
    text-align: left;

}
.info h1{
    text-align: center;
}
.card{
    height:10.2rem;
}
.card img{
    min-height: 100px;
}
#footer{
    background-color:#404040;
    top:100px;
    height: 200px;

    position: relative;
    margin: 0;
    

}